/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-dc1b8b6a-4yqt0gws.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-dc1b8b6a-4yqt0gws.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-cccfd6ca-ahx3dwvx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 15px;
	min-height: 400px;
}
 
 #vbid-aca09b6b-yb5nffgs.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-aca09b6b-yb5nffgs.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-f911086b-p7k2n43p.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-f911086b-p7k2n43p.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-eb5478d8-norzu6s2.master.item-box    {
	padding-top: 35px;
	padding-bottom: 40px;
} 
 #vbid-eb5478d8-norzu6s2.item-box > .item-wrapper    {
	max-width: 1000px;
}