/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-4d81aad1-ljigani1   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-4d81aad1-y8chpaep.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 172px;
}
 
 #vbid-4d81aad1-snhblkgl   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-4d81aad1-sl9j4erm   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-4d81aad1-svoy8ibr   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-4d81aad1-egp69rbu   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-4d81aad1-ffbb9hak.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 986px;
}
 
 #vbid-e82cf424-q7jh5ju4.master.item-box    {
	min-height: 679px;
}
 
 #vbid-4d81aad1-fziftat4   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-4d81aad1-gzhoujhk   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-4d81aad1-ttfuzana.master.item-box    {
	min-height: 603px;
}
 
 #vbid-4d81aad1-kbznwng8.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-4d81aad1-kbznwng8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4d81aad1-qr9j4ysp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 675px;
}
 
 #vbid-4d81aad1-rsqni5t1   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-4d81aad1-5sd8wvta   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-4d81aad1-hauvygs2.master.item-box    {
	min-height: 699px;
}
 
 #vbid-4d81aad1-ahxniiop.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-699a9768-misaacx6.master.item-box    {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-4d81aad1-nabuwqd5   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-4d81aad1-qr5bmbof   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-4d81aad1-up2vycpr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 200px;
} 
 #vbid-4d81aad1-up2vycpr.item-box > .item-wrapper    {
	max-width: 862px;
}
 
 #vbid-4d81aad1-tyku2pnm   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-4d81aad1-eonxuu3d.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
}
 
 #vbid-4d81aad1-faaauq0q   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-4d81aad1-zawpqipk   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-fbf468c3-aa58qduo.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 400px;
}
 
 #vbid-bfa333ae-q7jh5ju4.master.item-box    {
	min-height: 679px;
}
 
 #vbid-4d81aad1-dwgjgobb   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-4d81aad1-u3mjaplf   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-4d81aad1-b9o9imfd   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-4d81aad1-sr3szoyz   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-4d81aad1-bo3i7muf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 850px;
}
 
 #vbid-83558b5b-fns6teg0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 922px;
} 
 #vbid-83558b5b-fns6teg0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4d81aad1-1vvywxhn   {
	background-position: 46.9696960449219% 89.3939361572266%;
}

 
 #vbid-4d81aad1-6ksvpvoa.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-4d81aad1-wjvtdp2z   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-4d81aad1-uls5jibn   {
	background-size: contain;
}
 
 #vbid-4d81aad1-gbcfzpec   {
	background-size: contain;
}
 
 #vbid-f842a0d2-szwkmfem.master.item-box    {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 992px;
} 
 #vbid-f842a0d2-szwkmfem.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4d81aad1-3qgxxvft.master.item-box    {
	min-height: 773px;
}
 
 #vbid-d4eba5bb-kvcpluqg.master.item-box    {
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #element-d5cf4eea3c52885.master.item-box    {
	padding-bottom: 0px;
	min-height: 0px;
}
 
 #vbid-4d81aad1-z0lq5g3h   {
	background-size: contain;
}
 
 #vbid-4d81aad1-ivqsb82k   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-4d81aad1-y5qroo32.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-4d81aad1-y5qroo32.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4d81aad1-btnz7fqf   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-4d81aad1-s1eazew1   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-d547bd34-kxacqlds.master.item-box    {
	padding-top: 0px;
	padding-bottom: 105px;
	min-height: 468px;
}
 
 #vbid-1382fa35-c0o6hbel.master.item-box    {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 990px;
}
 
 #vbid-4d81aad1-nnio24id   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-4d81aad1-mhhw8ijq   {
	background-size: 92%;
}
 
 #vbid-8c7ec612-q7jh5ju4.master.item-box    {
	min-height: 906px;
}
 
 #vbid-4d81aad1-hvewuafj   {
	background-position: 51.3452911376953% 16.8316841125488%;
}