/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4d81aad1-t1iciv8e
 *                                 	 
 ******************************************************************************************************/
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-title  ,  .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-body h1  { 
						font-size: 15px;
						color: rgb(30, 30, 30);
						letter-spacing: 0em;
						margin-right: 20px;
						margin-top: 25px;
						margin-left: 20px;
						margin-bottom: 5px;
						font-family: Montserrat;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-link-img  {
		
						width: 40px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e  .preview-content-holder  {
		
						margin-right: 20px;
						text-align: center;
						background-color: rgba(246, 239, 217, 0);
						margin-left: 20px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-item-links span  ,  .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e #sr-basket-widget *  { 
						color: #ffffff;
						font-family: Arial;
						font-size: 13px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;
						margin-left: 5px;
						margin-right: 5px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .item-content:not(.blocks_layout)  {
		
						background-color: rgb(34, 52, 58);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-body  {
		
						color: rgb(104, 104, 104);
						margin-bottom: 40px;
						font-size: 14px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-element.icon-source  {
		
						padding-right: 20px;
						padding-left: 20px;
						width: 60px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-body-holder  {
		
						text-align: left;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .middle_layout .helper-div  ,  .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-subtitle  ,  .style-bc962004-kbko0o4p .style-4d81aad1-t1iciv8e .preview-body h2  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(142, 142, 142);
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-left: 20px;
						line-height: 1.2em;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4d81aad1-frtpsaee
 *                                 	 
 ******************************************************************************************************/
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Subtitle  ,  .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Title  ,  .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .raw-container  {
		
						margin-right: 50px;
						padding-bottom: 20px;
						padding-right: 0px;
						margin-top: 0px;
						padding-left: 0px;
						padding-top: 20px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .item-links span  {
		
						font-family: Arial;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						border-width: 1px;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	
	 .style-bc962004-kbko0o4p .style-4d81aad1-frtpsaee .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-4d81aad1-frtpsaee.master.container > #children  {
		
						background-color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Monoton;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Raleway;
				
						letter-spacing: 0.15em;
				
						line-height: 1.32em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Titillium WebBlack;
				
						line-height: 1.98em;
					
		}
	
	
	
			body    {
		
						background-image: url('https://lh3.googleusercontent.com/kkckoLoBFpN1Uo7DoIYbfiYkH8KdE_rZJcWsB1CEmLvu2q4NuTmpi2dXDMwucUSEVha9dF61PRvq3Li2R8iQu1DLT_Rqs1JCrYREOVk-Hg=s1600');
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4d81aad1-r123wom3
 *                                 	 
 ******************************************************************************************************/
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3.master.item-box   {
		
						position: relative;
						background-color: rgb(3, 7, 41);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-item-links span:hover  ,  .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-item-links  {
		
						text-align: center;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 10px;
						margin-top: 15px;
						margin-left: 10px;
						background-color: rgba(0, 0, 0, 0);
						text-align: right;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-item-links span  ,  .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 #sr-basket-widget *  { 
						font-family: Love Ya Like A Sister;
						font-size: 19px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						padding-bottom: 3px;
						border-color: rgb(246, 246, 246);
						letter-spacing: 0.3em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 3px;
						line-height: 1.01em;
						background-color: rgba(255, 255, 255, 0);
						margin-left: 17px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-title  ,  .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-body h1  { 
						font-size: 38px;
						color: rgb(80, 195, 190);
						letter-spacing: 0.05em;
						font-weight: bold;
						margin-left: 10px;
						font-family: Dosis;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-item-links.allow-bg-color  ,  .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .submenu  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						width: 80px;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: right;	
		}
	 .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-subtitle  ,  .style-bc962004-kbko0o4p .style-4d81aad1-r123wom3 .preview-body h2  { 
						font-size: 12px;
						color: rgb(152, 152, 152);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 10px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bc962004-kbko0o4p
 *                                 	 
 ******************************************************************************************************/
	 .master .style-bc962004-kbko0o4p .title-holder  {
		
						text-align: center;	
		}
	 .master .style-bc962004-kbko0o4p .preview.image-cover  {
		
						min-height: 250px;	
		}
	 .master .style-bc962004-kbko0o4p .Title  ,  .master .style-bc962004-kbko0o4p .Body h1  { 
						font-size: 37px;
						color: rgb(0, 0, 0);
						margin-right: 50px;
						margin-top: 30px;
						margin-left: 50px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-bc962004-kbko0o4p  .preview-content-holder  {
		
						text-align: left;
						max-width: 400px;
						margin-right: 20px;
						margin-top: 20px;
						margin-left: 20px;
						margin-bottom: 20px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .master .style-bc962004-kbko0o4p .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);	
		}
	 .master .style-bc962004-kbko0o4p .item-links span  {
		
						font-style: italic;
						font-size: 20px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						max-width: 500px;
						padding-right: 20px;
						margin-top: 20px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: 'Times New Roman';
						background-color: rgb(66, 117, 83);
						margin-left: 50px;	
		}
	 .master .style-bc962004-kbko0o4p .preview-title  ,  .master .style-bc962004-kbko0o4p .preview-body h1  { 
						font-family: 'Times New Roman';
						font-size: 20px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-top: 20px;
						margin-bottom: 5px;
						line-height: 1.1em;	
		}
	 .master .style-bc962004-kbko0o4p .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						margin-left: 50px;
						font-style: italic;	
		}
	 .master .style-bc962004-kbko0o4p .preview-item-links span  ,  .master .style-bc962004-kbko0o4p #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 16px;
						color: rgb(50, 50, 50);
						padding-bottom: 10px;
						border-color: rgb(147, 147, 147);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: 'Times New Roman';
						background-color: rgba(159, 14, 14, 0);	
		}
	 .master .style-bc962004-kbko0o4p .quote-author  {
		
						font-style: italic;
						font-size: 23px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-bc962004-kbko0o4p .item-links  {
		
						text-align: center;	
		}
	 .master .style-bc962004-kbko0o4p .preview-element.icon-source  {
		
						width: 50px;	
		}
	 .master .style-bc962004-kbko0o4p .body-holder  {
		
						text-align: justify;	
		}
	 .master .style-bc962004-kbko0o4p .Body  {
		
						margin-bottom: 20px;
						line-height: 1.4em;
						font-size: 14px;
						margin-left: 50px;
						margin-right: 50px;	
		}
	 .master .style-bc962004-kbko0o4p .Subtitle  ,  .master .style-bc962004-kbko0o4p .Body h2  { 
						font-style: italic;
						font-size: 22px;
						letter-spacing: 0.05em;
						margin-right: 50px;
						margin-top: 15px;
						margin-left: 50px;
						margin-bottom: 15px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-bc962004-kbko0o4p .page-image-cover  {
		
						margin-bottom: 30px;	
		}
	 .master .style-bc962004-kbko0o4p .title-wrapper  {
		
						max-width: 1124px;	
		}
	 .master .style-bc962004-kbko0o4p .subtitle-wrapper  {
		
						max-width: 1114px;	
		}
	 .master .style-bc962004-kbko0o4p  .preview-content-wrapper  {
		
						text-align: left;	
		}
	 .master .style-bc962004-kbko0o4p .body-wrapper  {
		
						max-width: 700px;	
		}
	 .master .style-bc962004-kbko0o4p .preview-item-links span:hover  ,  .master .style-bc962004-kbko0o4p .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						color: rgb(0, 0, 0);	
		}
	 .master .style-bc962004-kbko0o4p .subtitle-holder  {
		
						text-align: center;	
		}
	 .master .style-bc962004-kbko0o4p .preview-body  {
		
						line-height: 1.6em;
						font-size: 12px;
						color: rgb(34, 34, 34);
						max-width: 500px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-bc962004-kbko0o4p.master.container > #children  {
		
						background-color: rgb(243, 243, 243);	
		}
	 .master .style-bc962004-kbko0o4p .preview-subtitle  ,  .master .style-bc962004-kbko0o4p .preview-body h2  { 
						font-family: 'Roboto Slab Light';
						font-size: 14px;
						color: rgb(35, 35, 35);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						margin-bottom: 5px;
						line-height: 1.2em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bc962004-5t6nkex9
 *                                 	 
 ******************************************************************************************************/
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .title-holder  {
		
						text-align: center;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .Title  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .Body h1  { 
						color: #8a7373;
						font-size: 36px;
						font-family: open-sans;
						letter-spacing: 0.15em;
						font-weight: bold;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9  .preview-content-holder  {
		
						border-color: rgba(255, 255, 255, 0);
						max-width: 250px;
						margin-right: 20px;
						margin-top: 5px;
						margin-left: 20px;
						margin-bottom: 10px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .item-content:not(.blocks_layout)  {
		
						background-color: rgb(24, 17, 17);	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .inner-pic  {
		
						color: rgb(255, 255, 255);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						font-family: 'Times New Roman';
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						border-width: 1px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .background-div  {
			
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9.master.item-box   {
		
						background-color: transparent;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-title  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-body h1  { 
						font-family: Dosis;
						font-size: 35px;
						color: rgb(74, 124, 72);
						letter-spacing: 0em;
						font-weight: bold;
						margin-top: 20px;
						margin-bottom: 35px;
						line-height: 1.2em;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-item-links span  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 #sr-basket-widget *  { 
						font-family: Raleway;
						font-size: 18px;
						padding-right: 15px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.1em;
						font-weight: bold;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						border-width: 3px;
						background-color: rgb(248, 238, 5);	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .blocks-preview-body  {
		
						font-size: 15px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .stripe-background  {
		
		    			-webkit-filter:none;filter:none;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						width: 120px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .background-image-div  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .Subtitle  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .blocks-preview-subtitle  {
		
						font-size: 33px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-item-links span:hover  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-element.Link.hover-tester  { 
						color: rgb(248, 238, 5);
						background-color: rgb(0, 0, 0);	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .inner-pic-holder  {
		
						background-color: rgb(216, 213, 124);	
		}
	
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .blocks-preview-icon-holder .icon-source  {
		
						width: 80px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .blocks-preview-title  {
		
						margin-bottom: 5px;	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-body  {
		
						line-height: 1.5em;
						font-size: 20px;
						color: rgb(184, 28, 6);
						max-width: 500px;
						font-weight: bold;
						margin-top: 140px;
						margin-bottom: 125px;
						font-family: Dosis;	
		}
	
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .pic-side:after  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .item-effect-tester  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .sub.item-box:after  { 
						background-color: rgb(74, 124, 72);	
		}
	 .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-subtitle  ,  .style-bc962004-kbko0o4p .style-bc962004-5t6nkex9 .preview-body h2  { 
						font-family: Arial;
						font-size: 28px;
						font-weight: bold;
						color: rgb(70, 168, 44);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
