/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-bc962004-n6qpawqm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 375px;
}
 
 #vbid-bc962004-mz4cf5np.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1296px;
}
 
 #vbid-bc962004-dmdoerx1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 352px;
}
 
 #vbid-bc962004-jfrwwfvu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 879px;
}
 
 #vbid-bc962004-6ydoqikp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 448px;
}