/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-82f6f2fe-l81pkbaf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 375px;
}
 
 #vbid-82f6f2fe-xozapale.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 352px;
}
 
 #vbid-5657d515-airstkhh.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 922px;
} 
 #vbid-5657d515-airstkhh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-4d81aad1-eonxuu3d.master.item-box    {
	min-height: 39px;
}
 
 #vbid-9dfba897-bdmcretc.master.item-box    {
	min-height: 679px;
}
 
 #vbid-82f6f2fe-190xtd1g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 879px;
}
 
 #vbid-9bf58d4c-6sbank2x.master.item-box    {
	min-height: 906px;
}
 
 #vbid-9a85d2c0-6sbank2x.master.item-box    {
	min-height: 906px;
}
 
 #vbid-f24d6024-avom1ohm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 544px;
}
 
 #vbid-82f6f2fe-4p6yo6ms.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1296px;
}
 
 #vbid-1f088e47-airstkhh.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 922px;
} 
 #vbid-1f088e47-airstkhh.item-box > .item-wrapper    {
	max-width: 1000px;
}