/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-1d313d1f-hzojtacv.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-1d313d1f-hzojtacv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a5f7bcb0-nyl5blbg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 570px;
}
 
 #vbid-c6ebe06c-2clbdqxa.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-c6ebe06c-2clbdqxa.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-094a1d18-norzu6s2.master.item-box    {
	padding-top: 35px;
	padding-bottom: 40px;
} 
 #vbid-094a1d18-norzu6s2.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-94db00e7-yb5nffgs.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-94db00e7-yb5nffgs.item-box > .item-wrapper    {
	max-width: 1000px;
}