/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-e07fe417-asv3x3gm.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-e07fe417-asv3x3gm.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-2d7f0375-x9uxfm2x.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-2d7f0375-x9uxfm2x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-e70f7881-yb5nffgs.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-e70f7881-yb5nffgs.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-626420e5-jahqnnfg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 570px;
}
 
 #vbid-317a5ea3-5ssupdiy.master.item-box    {
	padding-top: 35px;
	padding-bottom: 40px;
} 
 #vbid-317a5ea3-5ssupdiy.item-box > .item-wrapper    {
	max-width: 1000px;
}