/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-82f6f2fe-l81pkbaf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 375px;
}
 
 #vbid-82f6f2fe-190xtd1g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 879px;
}
 
 #vbid-82f6f2fe-xozapale.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 352px;
}
 
 #vbid-9dfba897-bdmcretc.master.item-box    {
	min-height: 679px;
}
 
 #vbid-82f6f2fe-4p6yo6ms.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1296px;
}