/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-978ffa43-norzu6s2.master.item-box    {
	padding-top: 35px;
	padding-bottom: 40px;
} 
 #vbid-978ffa43-norzu6s2.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-5c323d66-3iea6whk.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-5c323d66-3iea6whk.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-74be203d-yb5nffgs.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-74be203d-yb5nffgs.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-2871c6a7-n55cigem.master.item-box    {
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 1343px;
} 
 #vbid-2871c6a7-n55cigem.item-box > .item-wrapper    {
	max-width: 1000px;
}