/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-0d509990-isbluysx.master.item-box    {
	min-height: 773px;
}
 
 #vbid-0d509990-zej8mcgj   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-0d509990-mgdezb2r.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 172px;
}
 
 #vbid-0d509990-qp1abdto.master.item-box    {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 992px;
} 
 #vbid-0d509990-qp1abdto.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-0d509990-5uvejbjm   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-0d509990-c5x7chaq   {
	background-position: 56.0606079101563% 100%;
}

 
 #vbid-0d509990-53j3ownu.master.item-box    {
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 990px;
}
 
 #vbid-0d509990-hax24imx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-0d509990-yv6vjiao   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-0d509990-1dgqxwov   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-0d509990-cxslfq4y   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-0d509990-0ap3gnyb   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-0d509990-9fiit1mz.master.item-box    {
	min-height: 699px;
}
 
 #vbid-0d509990-shsgmaiw.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-0d509990-dpdmgtaz.master.item-box    {
	min-height: 603px;
}
 
 #vbid-0d509990-9uysndx1   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-0d509990-cruafise   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-0d509990-dgrtyr56.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 675px;
}
 
 #vbid-0d509990-nqilznvk   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-0d509990-415py6wa   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-0d509990-oxuazfmf   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-0d509990-savnulml   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-0d509990-d1flstm4   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-0d509990-ouueehgz   {
	background-size: contain;
}
 
 #vbid-0d509990-t5eqshog   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-0d509990-chl3dvtg   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-0d509990-olggixeu   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-0d509990-qamw7tfp   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-0d509990-lfbgw4bj.master.item-box    {
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-0d509990-pqgktqai   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-0d509990-aseucz1e.master.item-box    {
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 448px;
}
 
 #vbid-0d509990-0fihu3vm   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-0d509990-mwrk9qfz.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-0d509990-mwrk9qfz.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-0d509990-yataaspi   {
	background-size: contain;
}
 
 #vbid-0d509990-ueernodb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 986px;
}
 
 #vbid-0d509990-5b9lbyb1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
}
 
 #vbid-0d509990-xhjtxxta   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-0d509990-xzecvfqx   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-0d509990-f6fhydid   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-0d509990-hh37eqtu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 850px;
}
 
 #vbid-0d509990-4ytnqyyb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 200px;
} 
 #vbid-0d509990-4ytnqyyb.item-box > .item-wrapper    {
	max-width: 862px;
}
 
 #vbid-0d509990-q6kvqx56   {
	background-size: contain;
}
 
 #vbid-0d509990-jiibmr67   {
	background-size: 92%;
}
 
 #vbid-0d509990-ahx3dwvx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 15px;
	min-height: 400px;
}
 
 #vbid-0d509990-aaqz9zyj   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-0d509990-saw1dahl.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-0d509990-saw1dahl.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-0d509990-z8equy9v   {
	background-position: 47.9101371765137% 31.5561962127686%;
}